$color_dark_gray: #121212;
$color_red: #DE2626;
$color_black: #000000;
$color_light_gray: #E9E9E9;
$color_white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$font_serif: 'Lora', serif;

$transition_duration: .2s;
