<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        {{ partial "hero.html" . }}
        <div id="main">
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}

        <script src="/js/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js" integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            function toggleDropdown(id) {
                let element = document.getElementById(id);
                element.classList.toggle("header-nav-dropdown--active");
            }

            // header sticky
            let headerElement = document.getElementById("header");
            let scrolledHeaderElement = document.getElementById("header-scrolled");
            let stickyOffset = 618;
            let responsiveButton = document.getElementById("header-responsive-button");
            let responsiveNavState = false;
            let headerNav = document.getElementById("header-nav");
            let responsiveButtonScrolled = document.getElementById("header-responsive-button-scrolled");
            let responsiveNavStateScrolled = false;
            let headerNavScrolled = document.getElementById("header-nav-scrolled");
            window.onscroll = function() {
                if (window.pageYOffset > stickyOffset) {
                    responsiveNavState = false;
                    headerNav.classList.remove('header-nav--open');
                    scrolledHeaderElement.classList.add('header--scrolled-class');
                } else {
                    responsiveNavStateScrolled = false;
                    headerNavScrolled.classList.remove('header-nav--open');
                    scrolledHeaderElement.classList.remove('header--scrolled-class');
                }
            };
            responsiveButton.onclick = function() {
                if (responsiveNavState) {
                    headerNav.classList.remove('header-nav--open');
                    responsiveNavState = false;
                    return;
                }
                headerNav.classList.add('header-nav--open');
                responsiveNavState = true;
            };
            responsiveButtonScrolled.onclick = function() {
                if (responsiveNavStateScrolled) {
                    headerNavScrolled.classList.remove('header-nav--open');
                    responsiveNavStateScrolled = false;
                    return;
                }
                headerNavScrolled.classList.add('header-nav--open');
                responsiveNavStateScrolled = true;
            };
        </script>

        {{ block "page-scripts" . }}{{ end }}
    </body>
</html>
