{{ define "main" }}

    <section class="family-business">
        <div class="container family-business-container">
            <img src="https://images.unsplash.com/photo-1565204265082-49ca193ed380?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum elementum tincidunt. Donec dictum elementum purus, eget fringilla nunc aliquet nec. Nam tristique nulla sit amet ex lobortis volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum elementum tincidunt. Donec dictum elementum purus, eget fringilla nunc aliquet nec. Nam tristique nulla sit amet ex lobortis volutpat.<br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum elementum tincidunt. Donec dictum elementum purus, eget fringilla nunc aliquet nec. Nam tristique nulla sit amet ex lobortis volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum elementum tincidunt. Donec dictum elementum purus, eget fringilla nunc aliquet nec. Nam tristique nulla sit amet ex lobortis volutpat.
            </p>
        </div>
    </section>

    {{ partial "cta" . }}

{{ end }}
