{{ define "main" }}

    <section class="free-quote">
        <div class="container">
            <form action="{{ .Site.Params.formUrl }}" method="POST" class="form" enctype="multipart/form-data">

                <div class="form__row">
                    <div class="form__col">
                        <label>First Name</label>
                        <input name="first_name" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>Last Name</label>
                        <input name="last_name" type="text" required />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>E-mail</label>
                        <input name="email" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>Phone Number</label>
                        <input name="phone" type="text" required />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Company / Organization</label>
                        <input name="company" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>Project Name</label>
                        <input name="project_name" type="text" required />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Street</label>
                        <input name="street" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>City</label>
                        <input name="street" type="text" required />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>County</label>
                        <input name="county" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>Postcode</label>
                        <input name="postcode" type="text" required />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Upload Inspiration Images</label>
                        <span>Max 5MB file size</span>
                        <input name="inspiration_images[]" type="file" required multiple />
                    </div>
                    <div class="form__col">
                        <label>Upload Project Location Image</label>
                        <span>Max 5MB file size</span>
                        <input name="project_location_image[]" type="file" required multiple />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Your Project's Location</label>
                        <input name="project_location" type="text" required />
                    </div>
                    <div class="form__col">
                        <label>How Did You Find Laser Metal Art?</label>
                        <input name="how_you_find" type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Do You Have a Deadline?</label>
                        <input name="have_deadline" type="text" required />
                    </div>
                    <div class="form__col">
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <button class="button">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </section>

{{ end }}
