{{ define "main" }}

    <section class="free-quote">
        <div class="container">
            <form class="form">

                <div class="form__row">
                    <div class="form__col">
                        <label>First Name</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                        <label>Last Name</label>
                        <input type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>E-mail</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                        <label>Phone Number</label>
                        <input type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Company / Organization</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                        <label>Project Name</label>
                        <input type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Street</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                        <label>City</label>
                        <input type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>County</label>
                        <select>
                            <option>Test</option>
                            <option>SDA</option>
                            <option>sadfasdf</option>
                        </select>
                    </div>
                    <div class="form__col">
                        <label>Postcode</label>
                        <input type="text" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Upload Inspiration Images</label>
                        <input type="file" />
                    </div>
                    <div class="form__col">
                        <label>Upload Project Location Image</label>
                        <input type="file" />
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Your Project's Location</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                        <label>How Did You Find Laser Metal Art?</label>
                        <select>
                            <option>Test</option>
                            <option>SDA</option>
                            <option>sadfasdf</option>
                        </select>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Do You Have a Deadline?</label>
                        <input type="text" />
                    </div>
                    <div class="form__col">
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <button class="button">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </section>

{{ end }}
